# Local MongoDB example:
# MONGODB_URI=mongodb://127.0.0.1:27017

# MongoDB Atlas example:
# Replace values between <...> and URL-encode special characters in password.
MONGODB_URI=mongodb+srv://nihal14:Nihal14@cluster14.qwfj8lb.mongodb.net/
MONGODB_DB_NAME=modern_agrarian
